@import url('https://fonts.googleapis.com/css2? family= Open+Sans:wght@300;400 & display=swap');
@import "../responsive";
.elementWish{
    display: flex;
    background-color: white;
    margin-bottom: 30px;
    position: relative;

    .img{
        background-color: #F8F8F8 ;
        img{
            width: 100px;
            height: 120px;

            @include small{
                width: 50px;
                height: 100px;
                object-fit: cover;

            }
        }
    }


    .description{
        padding: 13px 0 13px 8px;
        width: 196px;

        p{
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
            margin-bottom: 12px;

            @include small{
                margin-right: 20px;

            }
        }

        h2{
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: left;
            color: black;

        }
    }

    .close{
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
}